@import "../fundations/colors.styl"
@import "../fundations/spacing.styl"
@import "../fundations/typography.styl"


body
  background-color background-color-1
.app
  height 100vh
  max-width()
  flex(col,se, flx-end)
  
  .cat
    width: 80%
    padding: unit-2
    margin: unit-3