@import "../fundations/colors.styl"
@import "../fundations/spacing.styl"
@import "../fundations/typography.styl"


body
  background-color brand-color-1
.app
  height 100vh
  max-width()
  flex()
  
  .cat
    width: 100%
    margin: unit-3
    border-radius unit