

brand-color-1 = #1CCAD3
brand-color-2 = #FFA34D

action-color-1 = #49D4DB
action-color-2 = #415D5E

boolean-color-1 = #13FE85
boolean-color-1 = #EC4480

background-color-1 = #628B8E
background-color-1 = #042021




