

unit =  10px
unit-2 = unit*2
unit-3 = unit*3

//directions
col = column
rw = row
sa = space-around
sb =  space-between
se = space-evenly

flx-end = flex-end
flx-str = flex-start


max-width()
    max-width 800px
    margin 0 auto

flex(direction = row, justify = center, align = center)
    display: flex
    flex-direction: direction
    justify-content justify
    align-items align

