@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")

font-size-h1 = 50px
font-weight-h1 = 500

font-size-h2 = 25px
font-weight-h2 = 500

font-size-h3 = 20px
font-weight-h3 = 500

font-size-paragraph =16px
font-weight-h3 = 300

font-size-bold =16px
font-weight-h3 = 500

font-size-small =10px
font-weight-h3 = 300

font = 'Roboto', sans-serif

h1 
    font-size font-size-h1
    font-family font

